{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="font-weight-bold">{{ object.name }}</h1>
        </div>
    </div>
</section>
<div class="py-5 text-center container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-lg-5">
            <div class="card">
                <img src="{{ object.image | media_filter }}">
                <div class="card-body">
                    <h4 class="card-title">{{ object.name }}</h4>
                    <p class="card-text">
                        {{ object.description }}
                    <h4 class="text">Цена: {{ object.price }} рублей.</h4>
                    </p>
                </div>
                {% for version in object.version_product.all %}
                {% if version.is_current %}
                <div class="card-footer">
                    Версия: {{ version.number_version }} / {{ version.name_version }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<a style="text-align:center" href="{% url 'catalog:category_detail' object.category.pk  %}" role="button">Назад в
    категорию</a>
</div>


{% endblock %}
